html{
  font-family: Helvetica;
  text-align: center;
  align-items: center;
}

.bgimage{
  background-image: url("images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
} /*Header Design In New York*/

ul{
  list-style: none;
  font-size: 18px;
}

.white{
  color: white;
}/*h1 Header Footer Nav*/

#Footer{
  text-align: left;
  background-color: dimgray;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0px;
}

a:visited{
  color: white;
}

.bold{
  font-weight: bold;
}/*h1 "Design In New York" Header*/

div{
  margin-bottom: 0px;
}

#DesignInNewYork{
  margin-bottom: 80px;
}

h1{
  font-size: 70px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

p{
  font-size: 14px;
}
